#container {
  padding: 20px 50px 20px 50px;
}

rgb-string-color-picker {
  height: 120px;
  width: 120px;
  padding-top: 2px;
}

rgb-string-color-picker::part(saturation-pointer) {
  height: 20px;
  width: 20px;
}

rgb-string-color-picker::part(hue-pointer) {
  width: 12px;
  border-radius: 3px;
}